publish/linux-x64/appsettings.Development.json filter=lfs diff=lfs merge=lfs -text
publish/linux-x64/appsettings.json filter=lfs diff=lfs merge=lfs -text
publish/linux-x64/commands filter=lfs diff=lfs merge=lfs -text
